{{ define "main" }}
<content>
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  <ul class="blog-posts">
    {{ range .Pages.ByDate.Reverse }}
    <li>
      <div class="post-entry">
        <span>
          <i>
            <time datetime='{{ .Date.Format "2006-01-02" }}'>
              {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
            </time>
          </i>
        </span>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ with .Params.summary }}<p class="post-summary">{{ . }}</p>{{ end }}
      </div>
    </li>
    {{ else }}
    <li>No posts yet.</li>
    {{ end }}
  </ul>
</content>
{{ end }}
